<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConversionServlet</servlet-name>
        <servlet-class>webbin2dec2bin.conversionServlets.Bin2DecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dec2BinServlet</servlet-name>
        <servlet-class>webbin2dec2bin.conversionServlets.Dec2BinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultipleBin2DecServlet</servlet-name>
        <servlet-class>webbin2dec2bin.conversionServlets.MultipleBin2DecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>webbin2dec2bin.historyServlet.HistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConversionServlet</servlet-name>
        <url-pattern>/ConversionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dec2BinServlet</servlet-name>
        <url-pattern>/Dec2BinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultipleBin2DecServlet</servlet-name>
        <url-pattern>/MultipleBin2DecServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:derby://localhost:1527/Conversions</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>Krasinski</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>Krasinski</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
